<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>VMware Baseline Report</title>
    <!-- 引入外部 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
        <!-- 新增统计显示 -->
        <h1>VMware Baseline Report</h1>
        <!-- 统计显示 -->
        <div id="statusSummary" style="font-weight:bold;">
            Pass: 0 / Fail: 0
        </div>
        <div class="host-select">
            <label for="hostSelect">选择主机:</label>
            <select id="hostSelect">
                <option value="">--请选择主机--</option>
            </select>

            <label for="statusSelect">状态筛选:</label>
            <select id="statusSelect">
                <option value="">--全部--</option>
                <option value="Pass">Pass</option>
                <option value="Fail">Fail</option>
            </select>
        </div>
    <div id="tables"></div>
    <!-- 引入外部 JS -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
